body{
    font-family: 'Roboto', sans-serif;
 }
.parent {
   left:0px;
   top: 0px;
   position: absolute;
   width: 100%;
   height: 100%;
}
 
.child {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: black; /* fallback color */
   background-position: center;
   background-size: cover;
}
#backgroundImage {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./assets/city2.jpg");
}
#shade {
    opacity: 0.6;
}
#introContent {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#pfp {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 200px;
    border: 2.5px solid white;
}
#intro1 {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}
#nameTag {
    position: absolute;
    color: white;
    font-size: 50px;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 3px;
    border-bottom: 3px solid white;
    padding-bottom: 10px;
    text-align: center;
}
#desTag {
    position: absolute;
    color: white;
    font-size: 13px;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 3px;
    text-align: center;
}
#navBar {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 180px;
    width: 370px;
    height: 60px;
    background-color: transparent;
}
.navButton {
    position: relative;
    top: 10px;
    width: 100px;
    background-color: transparent;
    height: 30px;
    border: 2px solid white;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: .4s;
}
.navButton:hover {
    background-color: white;
}
#aboutMe {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    max-width: 900px;
    background-color: white;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}
#teaching {
    position: relative;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    max-width: 900px;
    background-color: white;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}
#contactMe {
    position: relative;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 100%;
    background-color: white;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 100px;
    padding-bottom: 100px;
}
@media (max-width: 850px) {
    #aboutMe {
        width: 90%;
    }
}
@media (max-width: 400px) {
    #desTag {
        top: 330px;
    }
    #navBar {
        top: 280px;
        width: 340px;
    }
    .navButton {
        margin-left: 5px;
        margin-right: 5px;

    }
    #aboutMe {
        width: 100%;
    }
}
#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 18px;
}
#signUpBtn {
    height: 40px;
    width: 130px;
    border-radius: 115px;
    border:none;
    color: white;
    background-color: blueviolet;
    cursor: pointer;
    transition: .4s;
}
#signUpBtn:Hover {
    color: blueviolet;
}